.blurred-background {
    background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=2070&auto=format&fit=crop');
}

.project-bg-pinterest {
    background-image: url('https://images.unsplash.com/photo-1611162617213-7d7a39e9b1d7?q=80&w=1974&auto=format&fit=crop');
}

.project-bg-ai-racing {
    background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?q=80&w=2070&auto=format&fit=crop');
}

.project-bg-self-driving {
    background-image: url('https://images.unsplash.com/photo-1605379399642-870262d3d051?q=80&w=2106&auto=format&fit=crop');
}

.main-content-backdrop::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit; 
    background-color: #FFFBFB;
    filter: blur(24px);
    z-index: -1;
}

#back-to-top {
    transition: opacity 0.3s ease-in-out;
}

#back-to-top.hidden {
    opacity: 0;
    visibility: hidden;
}
