.blurred-background {
    background-image: url('assets/images/blurred-background.jpg');
}

.project-bg-pinterest {
    background-image: url('assets/images/project-bg-pinterest.jpg');
}

.project-bg-ai-racing {
    background-image: url('assets/images/project-bg-ai-racing.jpg');
}

.project-bg-self-driving {
    background-image: url('assets/images/project-bg-self-driving.jpg');
}

.main-content-backdrop::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit; 
    background-color: #FFFBFB;
    filter: blur(24px);
    z-index: -1;
}

#back-to-top {
    transition: opacity 0.3s ease-in-out;
}

#back-to-top.hidden {
    opacity: 0;
    visibility: hidden;
}
